
[Desktop Entry]
Name=dwm
Comment=dynamic tiling window manager
Exec=/usr/local/bin/startdwm
#TryExec=i3
Type=Application
#X-LightDM-DesktopName=i3
DesktopNames=dwm
Keywords=tiling;dwm;windowmanager;window;manager;
